.wordley-word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
}
.wordley-bit {
    display: flex;
    color: #555555;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 12vw;
    border: 1px solid #d3d6da;
    font-weight: bold;
    font-size: x-large;
    margin: 0.5vw;
}
.wordley-correct {
    background-color: #6AAA64;
    color: #FFFFFF;
    animation: fadeInCorrect 1s;
}
.wordley-maybe {
    background-color: #C9B458;
    color: #FFFFFF;
    animation: fadeInMaybe 1s;
}
.wordley-no {
    background-color: #989C9E;
    color: #FFFFFF;
    animation: fadeInNo 1s;
}
.wordley-clear {
    background-color: transparent;
    color: #555555;
}
.wordley-error {
    background-color: transparent;
    color: #ea4335;
}

.define-word-link {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}
.define-word {
    font-size: 36px;
    color: #555555
}
.define-word:before {
	content: '\f02f'; 
}
.define-word-empty {
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    visibility: hidden;
}
.define-word-empty:before {
	content: '\f02f'; 
}

@keyframes fadeInCorrect {
    from { background-color: transparent; }
      to { background-color: #6AAA64; }
}

@keyframes fadeInMaybe {
    from { background-color: transparent; }
      to { background-color: #C9B458; }
}

@keyframes fadeInNo {
    from { background-color: transparent; }
      to { background-color: #989C9E; }
}