.wordley-word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
}
.wordley-bit {
    display: flex;
    color: var(--WORDLEY-TEXT-COLOR);
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    border: 1px solid var(--WORDLEY-BORDER-COLOR);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1vw;
}
.wordley-correct {
    background-color: var(--WORDLEY-BG-YES);
    border: 1px solid var(--WORDLEY-BG-YES);
    color: var(--WORDLEY-TEXT-YES);
    animation-timing-function: ease-in;
    animation: fadeInCorrect 1s;
}
.wordley-maybe {
    background-color: var(--WORDLEY-BG-MAYBE);
    border: 1px solid var(--WORDLEY-BG-MAYBE);
    color: var(--WORDLEY-TEXT-MAYBE);
    animation-timing-function: ease-in;
    animation: fadeInMaybe 1s;
}
.wordley-no {
    background-color: var(--WORDLEY-BG-NO);
    border: 1px solid var(--WORDLEY-BG-NO);
    color: var(--WORDLEY-TEXT-NO);
    animation-timing-function: ease-in;
    animation: fadeInNo 1s;
}
.wordley-hint {
    background-color: transparent;
    color: var(--WORDLEY-BG-YES);
    animation-timing-function: ease-in;
    animation: fadeInHint 1s;
}
.wordley-clear {
    background-color: transparent;
    color: var(--WORDLEY-TEXT-COLOR);
}
.wordley-error {
    background-color: transparent;
    color: var(--WORDLEY-TEXT-ERROR);
}

.define-word-link {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}
.define-word {
    font-size: 2.25rem;
    color: var(--WORDLEY-TEXT-COLOR);
}
.define-word:before {
	content: '\f02f'; 
}
.define-word-empty {
    font-size: 2.25rem;
    display: flex;
    align-items: flex-end;
    visibility: hidden;
}
.define-word-empty:before {
	content: '\f02f'; 
}
.earthquake {
	animation: Shake 1s;
}

@keyframes fadeInCorrect {
    from {
        background-color: transparent;
        transform: rotateY(-90deg);
    }
    to {
        background-color: var(--WORDLEY-BG-YES);
        transform: rotateY(0deg);
    }
}

@keyframes fadeInMaybe {
    from {
        background-color: transparent;
        transform: rotateY(-90deg);
    }
    to {
        background-color: var(--WORDLEY-BG-MAYBE);
        transform: rotateY(0deg);
    }
}

@keyframes fadeInNo {
    from {
        background-color: transparent;
        transform: rotateY(-90deg);
    }
    to {
        background-color: var(--WORDLEY-BG-NO);
        transform: rotateY(0deg);
    }
}

@keyframes fadeInHint {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Shake {
	10%, 90% {
		transform: translateX(-1px);
	}
	20%, 80% {
		transform: translateX(2px);
	}
	30%, 50%, 70% {
		transform: translateX(-4px);
	}
	40%, 60% {
		transform: translateX(4px);
	}
}

@keyframes rotate-div {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        background-color: var(--WORDLEY-TEXT-ERROR);
    }
}
    
    