.keyboard-container {
	display: block;
	border: 0px solid black;
	width: 100%;
	height: fit-content;
	padding: 0px;
	text-align: left;
	padding-bottom: 1rem;
}
.keyboard {
	display: flex;
    flex-direction: column;
	border: 0px solid black;
	width: 100%;
	height: fit-content;
	padding: 0px;
	text-align: center;
}
.keyboard-row {
	display: flex;
	margin: auto;
	margin-bottom: 0.25rem;
	height: fit-content;
	/* width: 94vw; */
}
.keyboard-keys {
	display: flex;
    justify-content: center;
    align-items: center;
	border: 1px solid #b3b6ba;
	color: #555555;
	background-color: #f1f1f1;
	text-align: center;
	vertical-align: middle;
	border-radius: 0.25rem;
	cursor: pointer;
	width: 1.875rem;
	height: 2.5rem;
	font-size: 1.125rem;
	font-weight: bold;
	margin: 0 1px;
}
.space-key {
	width: 60%;
}
.space-key-hidden {
	width: 60%;
	display: none;
}
.delete-key {
	width: 2.75rem;
}
.delete-key:before {
	content: '\e14a';
}
.enter-key {
	width: 3.125rem;
	font-size: 1.5rem;
}
.enter-key:before {
	content: '\e5ca';
}
.burger-key:before {
	content: '\2630';
}			
.spacer-key-quarter {
	width: 1.75%;
	border: 0px;
	background-color: transparent;
}
.spacer-key-half {
	width: 3.5%;
	border: 0px;
	background-color: transparent;
}
.spacer-key-full {
	width: 7%;
	border: 0px;
	background-color: transparent;
}
.disabled {
	pointer-events: none;
	cursor: not-allowed;
	background-color: lightgrey;
}